/* определение css-переменных */

:root {
  --brand-color: #2196f3;
  --bgn-color: #ffffff;
  --second-bgn-color: #f5f4fa;
  --third-bgn-color: #2f303a;
  --font-color: #212121;
  --small-text: #757575;
  --active-color: #188ce8;
  --border-color: #eeeeee;
  --hdr-border-color: #ececec;
  --mr-black: #000000;
  --mr-white: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --hero-btn-shadow: rgba(0, 0, 0, 0.15);
  --member-shadow-1: rgba(0, 0, 0, 0.12);
  --member-shadow-2: rgba(0, 0, 0, 0.14);
  --member-shadow-3: rgba(0, 0, 0, 0.2);
  --port-btn-shadow-1: rgba(0, 0, 0, 0.1);
  --port-btn-shadow-2: rgba(0, 0, 0, 0.08);
  --port-btn-shadow-3: rgba(0, 0, 0, 0.12);
  --font-primary: "Roboto", "Arial", sans-serif;
}

/* глобальный стиль страницы */

body {
  background-color: var(--bgn-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

.no-style {
  list-style: none;
}

.no-decor {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  background-color: var(--bgn-color);
}

/* header */

.wst-header {
  padding: 24px 0;
  border-bottom: 1px solid var(--hdr-border-color);
}

/* логотип */

.logo {
  color: var(--mr-black);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo-color {
  color: var(--brand-color);
}

.logo-white {
  color: var(--mr-white);
}

/* меню навигации */

.nav-item > .nav-link {
  color: var(--font-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}

/* меню контактов */

.contact-item > .contact-link {
  color: var(--small-text);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.143;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--brand-color);
}

/* стиль секции hero */

.hero {
  background-color: var(--third-bgn-color);
}

.hero-headline {
  color: var(--mr-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px var(--hero-btn-shadow);
  color: var(--mr-white);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.875;
}

/* стиль секции features */

.features-headline {
  font-size: 36px;
  line-height: 1.17;
}

.features-title {
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item > .features-text {
  color: var(--small-text);
  line-height: 1.7;
}

/* стиль секции skills */

.skills-headline {
  font-size: 36px;
  line-height: 1.17;
}

/* стиль секции team */

.team {
  background-color: var(--second-bgn-color);
}

.team-member {
  box-shadow: 0px 1px 3px var(--member-shadow-1),
    0px 1px 1px var(--member-shadow-2), 0px 2px 1px var(--member-shadow-3);
  background-color: var(--mr-white);
}

.team-headline {
  font-size: 36px;
  line-height: 1.17;
}

.team-member > .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
}

.team-member > .member-function {
  color: var(--small-text);
  font-size: 16px;
  line-height: 1.188;
}

/* footer */

.wst-footer {
  background-color: var(--third-bgn-color);
}

/* adress menu */

.address-item > .address-link {
  color: var(--mr-white);
  font-style: normal;
  line-height: 1.7;
}

.address-item > .address-link:hover,
.address-item > .address-link:focus {
  color: var(--brand-color);
}

.address-item [href="mailto:info@devstudio.com"] {
  color: var(--address-color);
}

.address-item [href="tel:+380961111111"] {
  color: var(--address-color);
}

/* страница portfolio */

.portfolio-headline {
  font-size: 36px;
  line-height: 1.17;
}

/* фильтр проектов */

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--brand-color);
  color: var(--mr-white);
  box-shadow: 0px 3px 1px var(--port-btn-shadow-1),
    0px 1px 2px var(--port-btn-shadow-2), 0px 2px 2px var(--port-btn-shadow-3);
}

/* список проектов */

.project-item {
  border: 1px solid var(--border-color);
}

.project-item > .project-name {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.project-item > .project-function {
  font-size: 16px;
  color: var(--small-text);
  line-height: 1.875;
}
